* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: sans-serif;
    background: #00B0C6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#map {
    width: 75%;
    height: 100vh;
    cursor: move;
    border: 2px solid white;
}

.leaflet-popup-content {
    color: black;
}

#data {
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 1000px){
    #content {
        flex-direction: column-reverse;;
    }
    #map, #data {
        width: 100%;
    }
}


